<label for="ing_query">
  <input type="text" id="ing_query" (keyup)="loadIngredients()">
</label>
<div *ngIf="this.ingredients | async as data" id="ing_results">
  <a
    *ngFor="let i of data"
    id="query-res-{{i}}"
    class="ing_found"
    (click)="addIngredient(i);remove('query-res-' + i)"
  >{{i}}</a>
</div>
<ul id="ing_current" *ngIf="this.service.selectedIngredients | async as data">
  <li
    *ngFor="let i of data"
    id="selected-{{i}}"
  >{{i}}
    <button (click)="unselect(i)">X</button>
  </li>
</ul>
